body{
    background-color: #f2f2f2;
    font-family: georgia,serif;
}

h4{
    text-color: green;
}
h1{
    text-align: center;
    color: red;
    font-family: georgia,serif;
}

h3{
    color: black;
    text-align: center;
}
p{
    color: brown;
    text-align: center;
    line-height: 30px;
}

a{
    text-decoration: none;
    color: green;

}

button{
    background-color: white;
    color: blueviolet;
}

textarea{
    color: black;
    
}

span{
    text-decoration: underline;
    
}